@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<h2>Categories</h2>
<a asp-action="CreateCategory" class="btn btn-primary">Create New Category</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>ShopId</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                <a asp-action="EditCategory" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DeleteCategory" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
